*{
    font-family: 'Poppins', sans-serif;
    margin:30PX 25PX;
    padding: 0;
    background-color: rgb(240, 234, 234);
    text-decoration: none;
}
/* introduction section start */
.quotes-box{
    display: flex;
}

.half-width{
    width: 50%;
}
.half-width img{
    width: 90%;
}

h1{
    font-size: 50px;
    font-weight: 1200;
    color: rgba(49, 46, 46, 0.788);
}
.h1-font-orng{
    color: darkorange;
} 
#border-slice{
 border-left: 5px solid rgba(247, 5, 5, 0.692);
 border-image-slice: 1;
}
/* my name */
.name{
    font-size: 35px ;
    font-weight: 900;
}
/* button area */
.button{
    background-image: linear-gradient(tomato , orange);
    color: whitesmoke; 
    font-weight: 600;
    padding: 2%;
    border-radius: 10px;
}


.dream-box{
    display: flex;
    justify-content: space-between;
    
}
#goal-box{
    text-align: center;

}

.half-width-area{
    width: 40%;
    padding:0 1px;
    margin: 0 15px;
    box-shadow: 5px 5px 40px black; 
    border-radius: 10px; 
     background-image: linear-gradient(pink ,white);
    
}
.half-width-area img{
    width: 50%;
    margin: 20px;
    border-radius: 10px;  background-image: linear-gradient(pink , pink);
}
.quotes-box img{
    width: 90%;
}

