*{
    font-family: 'Poppins', sans-serif;
    margin:30PX 25PX;
    padding: 0;
   
    text-decoration: none;
}
/* introduction section start */
.quotes-box{
    display: flex;
}

.half-width{
    width: 80%;
}
.half-width img{
    width: 90%;
}

h1{
    font-size: 50px;
    font-weight: 1200;
    color: rgba(12, 11, 11, 0.863);
}
.h1-font-orng{
    color: darkorange;
} 

#border-slice{
 border-left: 5px solid rgba(247, 5, 5, 0.692);
 border-image-slice: 1;
}
/* my name */
.name{
    font-size: 35px ;
    font-weight: 900;
}
/* button area */
.button{
    background-image: linear-gradient(tomato , orange);
    color: rgb(255, 254, 254); 
    font-weight: 600;
    padding: 2%;
    border-radius: 10px;
}


.dream-box{
    display: flex;
    justify-content: space-between;
    
}
.goal-box{
    text-align: center;

}

.half-width-area{
    width: 40%;
    padding:0 1px;
    margin: 0 15px;
    box-shadow: 5px 5px 40px black; 
    border-radius: 10px;   
}
#half-area-color1{
    background-image: linear-gradient(rgb(243, 138, 155) ,white);
}
#half-area-color2{
    background-image: linear-gradient(rgb(81, 216, 81) ,white);
}
#half-area-color3{
    background-image: linear-gradient(rgb(85, 85, 197) ,white);
}

.half-width-area img{
    width: 50%;
    margin: 20px;
    border-radius: 10px; 
   
}
.quotes-box img{
    width: 80%;
}
footer{
    text-align: center;
    background-color: rgb(119, 114, 114);
    color: white;
    padding: 1px;
}